/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #20252b; /* Black background */
    color: white; /* White text */
}

.navbar, footer {
    background-color: #000; /* Black background for navbar and footer */
}

.btn-primary, .btn-success {
    background-color: #28a745; /* Green color for buttons */
    border-color: #28a745;
}

.card {
    background-color: #110505; /* White background for cards */
    color: #000; /* Black text */
    border-color: #28a745; /* Green border */
}

h1, h2, p {
    color: rgb(247, 247, 247);
}

.container, form {
    background-color: #c27780; /* White background for form containers */
    color: black;
    border-radius: 10px;
    padding: 20px;
}
