/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #20252b; /* Black background */
    color: white; /* White text */
}

.navbar, footer 
    html, body {
        height: 100%;
        margin: 0;
    }
    
    .content {
        min-height: calc(100vh - 60px); /* Adjust this value based on your footer height */
    }
    
    footer {
        height: 60px; /* Set this to your footer height */
        position: relative;
        bottom: 0;
        width: 100%;
        background-color: #343a40; /* Dark background color */
        color: white; /* Text color */
        text-align: center;
        padding: 1rem; /* Adjust padding as needed */
    }
    

.btn-primary, .btn-success {
    background-color: #28a745; /* Green color for buttons */
    border-color: #28a745;
}

.card {
    background-color: #110505; /* White background for cards */
    color: #000; /* Black text */
    border-color: #28a745; /* Green border */
}

h1, h2, p {
    color: rgb(247, 247, 247);
}

.container, form {
    background-color: #c27780; /* White background for form containers */
    color: black;
    border-radius: 10px;
    padding: 20px;
}
